html{
    font-size: 13px;
}

.container{
    font-family: source_sans_proregular, sans-serif !important;
    background-color: #fefefe !important;
}


.header-top{
    list-style-type: none;
}

.header-link{
    text-decoration: none;
    color: #999;
    font-size: 12px;
    line-height: 15px;
    padding-top: 5px;
}

.header-logo img{
    width: 120px;
}

.search-container {
    position: relative;
    width: 600px; /* Genişliği ayarlayabilirsin */
    
  }

  .search-input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Sağ tarafa boşluk ekle */
    box-sizing: border-box; /* Genişliği korumak için */
    height: 35px;
  }

  .search-icon {
    position: absolute;
    right: 10px; /* Sağ tarafa yaslamak için */
    top: 50%;
    transform: translateY(-50%); /* İkonu ortalamak için */
    font-size: 16px; /* İkonun boyutunu ayarlayabilirsin */
    color: #999; /* İkonun rengini ayarlayabilirsin */
    pointer-events: none; /* İkonun tıklanabilir olmaması için */
  }









